* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    height: 100vh;
    width: 100%;
    background: url('images/flowers.png') no-repeat center bottom;
    background-size: cover;
    background-color: #FDF2F2; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    position: relative;
}

/* LOGO POSITION AND SIZE */
.logo-wrapper {
    position: absolute;
    top: 30px; 
    left: 30px;
}

.logo-wrapper img {
    width: 150px; 
    height: auto;
}

/* BUTTON GROUP POSITIONING */
.action-box {
    margin-right: 12%;
    margin-top: -130px; 
    display: flex;
    flex-direction: column;
    gap: 35px; 
}

.pill-btn {
    background-color: #9EB094; 
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    border-radius: 50px;
    width: 300px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.icon-circle {
    background: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.icon-circle img {
    width: 40px;
}

.pill-btn span {
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}