<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Armoire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="left">
            <img src="{{ url_for('static', filename='images/wardrobe.png') }}" alt="Wardrobe">
        </div>
        <div class="lace-divider"></div>

        <div class="right">
            <div class="front-content-stack">
                 <div class="title-row">
                    <h1 class="front-title">Mon Armoire</h1>
                    <img src="{{ url_for('static', filename='images/bow.png') }}" alt="Bow" class="title-bow">
                </div>

                <div class="front-logo-container">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="front-logo">
                </div>

                <div class="front-button-group">
                    <a href="{{ url_for('auth', mode='signup') }}"><button class="front-btn">Sign up</button></a>
                    <a href="{{ url_for('auth', mode='login') }}"><button class="front-btn">Login</button></a>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
