<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon Armoire - Menu</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="menu-container">
        
        <div class="logo-wrapper">
            <img src="{{ url_for('static', filename='images/bow.png') }}" alt="Logo">
        </div>

        <div class="action-box">
            <a href="closet.html" class="pill-btn">
                <div class="icon-circle">
                    <img src="{{ url_for('static', filename='images/hanger.png') }}" alt="Hanger">
                </div>
                <span>Go to closet</span>
            </a>

            <label for="upload" class="pill-btn">
                <div class="icon-circle">
                    <img src="{{ url_for('static', filename='images/camera.png') }}" alt="Camera">
                </div>
                <span>Click/Upload</span>
            </label>
            <input type="file" id="upload" hidden>
        </div>

        <div class="character-wrapper">
            <img src="{{ url_for('static', filename='images/pixel_girl.png') }}" alt="Mascot">
        </div>

    </div>
</body>
</html>
